# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Airflow
airflow.db
airflow/logs/

# Great Expectations
great_expectations/uncommitted/

# Local state
/tmp/
*.parquet
*.avro
*watermark*.json

# IDE
.idea/
.vscode/
*.swp

# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
